<div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h3>{{ 'common.new_compositions' | trans }}</h3>
                    <div class="footer-grd-left">
                   {#     <img src="images/11.jpg" class="img-responsive" alt=" " />#}
                    </div>
                    <div class="footer-grd-left">
                        <p>{{ 'text.footer.new_composition_text' | trans }}</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <h3>{{'menu.menu_links' | trans }}</h3>
                    <ul>
                        <li><a href="{{ path('about_us_page')}}">{{'menu.about_us' | trans }}</a></li>
                        <li><a href="{{ path('rules_page')}}">{{'menu.rules' | trans }}</a></li>
                        <li><a href="{{ path('contacts_page')}}">{{'menu.contacts' | trans }}</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    
                </div>
                <div class="col-md-3 footer-grid">
                   <h3>{{ 'common.donate' | trans }}</h3>
                    <ul>
                        <li><a href="#">{{ 'menu.support' | trans }}</a></li>
                        <li><a href="#">{{ 'menu.faq' | trans }}</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
